* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
}

body h1 {
  font-size: 2rem;
  color: black;
  font-weight: 900;
}

body h2 {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

body h3 {
  font-size: 2rem;
  color: black;
  font-weight: 900;
}

body p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
}

body span {
  margin-top: 1.8rem;
  color: black;
  font-size: 1.7rem;
}

body a {
  text-decoration: none;
  color: #777;
}

.header {
  height: 10rem;
  border-bottom: 1px solid #777;
}

.header__left {
  width: 23%;
  height: 10rem;
  float: left;
  content: '';
  clear: both;
  display: table;
}

.header__left--icon1 {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  padding: 0 5rem;
}

.header__left--icon2 {
  font-size: 3rem;
  color: black;
  width: 5rem;
  cursor: pointer;
}

.header__left--text {
  padding: 0 5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.header__middle {
  width: 57%;
  height: 10rem;
  float: left;
}

.header__middle--img {
  height: 6rem;
  display: block;
  margin: 0 auto;
}

.header__right {
  width: 20%;
  height: 10rem;
  float: right;
  text-align: center;
}

.header__right--notification {
  font-size: 3rem;
  color: black;
  padding: 0 5rem;
  cursor: pointer;
}

.header__right--button {
  width: 7rem;
  height: 3rem;
  border: 1px solid #777;
}

.header__right--button .login {
  text-decoration: none;
  color: #09f;
  font-weight: 700;
}

.nav-bar {
  max-width: 100%;
  text-align: center;
  height: 10rem;
}

.nav-bar .display--inlineblock {
  height: 10rem;
  padding: 3rem 0;
  margin-bottom: 5rem;
}

.nav-bar .display--inlineblock li {
  display: inline-block;
}

.nav-bar .display--inlineblock li a {
  padding: 2rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav-bar .display--inlineblock li a:hover {
  color: #1a237e;
  border-bottom: 2px solid #1a237e;
}

.main__box {
  min-height: calc(100vh - (10rem - 10rem - 10rem));
  width: 100%;
  margin-bottom: 10rem;
}

.main__box .another {
  height: 20rem;
  width: 100%;
}

.main__box--item {
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__box--item1 {
  width: 24%;
  height: 25rem;
  margin: 0 10px 0 0px;
}

.main__box--item1 .auto {
  display: block;
  margin: auto;
}

.main__box--item3 {
  width: 24%;
  height: 25rem;
  margin: 0 10px 0 0px;
  border-left: .1px solid #777;
  padding: 1rem;
}

.main__box--item3 img {
  height: 18.5rem;
  width: 30.4;
}

.main__box--item2 {
  width: 24%;
  height: 25rem;
  margin: 0 10px 0 0px;
  border-left: .1px solid #777;
  padding: 1rem;
}

.main__box--item4 {
  width: 24%;
  height: 25rem;
}

.red {
  color: red;
  font-size: 1.8rem;
}

.tow {
  border: none;
}

.three {
  border: none;
}

.another-part {
  width: 30%;
}

.another--part .nav ul li {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.another--part .nav ul li a {
  list-style: none;
  text-decoration: none;
  padding: 2rem;
  font-size: 2rem;
  color: black;
  font-weight: 900;
}

.another--part .nav ul li a:hover {
  color: #1a237e;
  border-bottom: 2px solid #1a237e;
}

.another--box {
  width: 100%;
}

.another--box__grab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60rem;
}

.another--box__grab--one {
  width: 25%;
  height: 60rem;
  padding: 2rem;
  margin: 0px 10px 0px 0px;
}

.another--box__grab--one .chipa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.another--box__grab--one .chipa .box1 {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
}

.another--box__grab--one .chipa .box2 {
  width: 100%;
  height: 14rem;
  margin-bottom: 2rem;
}

.another--box__grab--one .chipa .box3 {
  width: 100%;
  height: 16rem;
  margin-bottom: 2rem;
}

.another--box__grab--tow {
  width: 50%;
  height: 60rem;
  padding: 2rem;
  margin: 0px 10px 0px 0px;
}

.another--box__grab--tow .chipa--tow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.another--box__grab--tow .chipa--tow__box1 {
  width: 100%;
  height: 15rem;
  margin-bottom: 5rem;
}

.another--box__grab--tow .chipa--tow__box1 img {
  height: 220px;
}

.another--box__grab--tow .chipa--tow__box2 {
  width: 100%;
  height: 40rem;
  margin-top: 3rem;
}

.another--box__grab--tow .chipa--tow__box2 img {
  height: 260px;
}

.another--box__grab--three {
  width: 25%;
  height: 60rem;
}

.padding {
  border: 1px solid #777;
}
/*# sourceMappingURL=style.css.map */